/* Les indications de bases réquises */
@font-face{
    font-family: 'RajdhaniM';
    src: url(assets/fonts/Rajdhani-Medium.ttf);
}
@font-face{
    font-family: 'SpaceGB';
    src: url(assets/fonts/SpaceGrotesk-Bold.ttf);
}
@font-face {
    font-family: 'SpaceGR';
    src: url(assets/fonts/SpaceGrotesk-Regular.ttf);
}
colgroup {
    --yellow-color : #ffff00; 
    --yellow-light: #f8f184;
    --blue: #19587d;
    --red: #b11313;
    --black2: #0d0e09;
    --white: #fff;
    --gradient-white:#eddebf;
    --gradient-red:#890009;
    --gray-light:#c4c4c4;
    --gradient-blue:#19587d57;
}

/*Police */
*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family:'RajdhaniM';
    color: #ffffff;
    font-size: 36px; 
    font-weight: 600;
}

button {
    font-family: 'RajdhaniM';
    font-size: 20px;
}
h2{
    font-family: 'SpaceGB';
    font-size: 40px;
}

p{
    font-family: 'SpaceGR';
    font-size: 18px;
}

/* Animation Fade-In de la gauche au démarrage  */
@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Animation Fade-In sur tous les éléments */
  body {
    animation: fade-in 0.5s ease-in-out forwards;
  }

/*Paramètre de la page web*/
.container {
    width: 80%;
    margin: 0 auto;
}


/*Style du header */
body{
    color: #ffffff;
    background: #0a0a0a;
    margin: 0 auto;
    font-family: 'SpaceGR';
    font-weight: 300;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
header nav ul{
    list-style: none;
}

header nav ul li a{
    color: #ffffff;
    font-family: 'RajdhaniM';
    font-size:30px;
    font-weight: 500;
    text-decoration: none;
}

header nav ul a:hover {
color: #ffff00;
font-weight: bold;
text-decoration: underline;
}

header nav ul li a.current {
    font-weight: bold;
    text-decoration: underline;
  }
/*Design de la scroll  et ses styles*/
#scroll {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 60px;
    margin-top: 200px;
    z-index: 999;
}

#scroll img {
    margin: 25px auto;
}

#scrolltop,
#scrollbottom {
  cursor: pointer;
  transition: opacity 0.3s ease;
}



/*Design de la section hero et ses styles*/
#hero{
    background-image: url(assets/images/Bathome1.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    float: center ;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 500px;
}

.btn {
    text-decoration: none;
    color: var(--white);
    font-size: 22px;
    padding: 10px 60px;
    margin: 40px 30px;
    background: linear-gradient(40deg,#eddebf8a , #8900096f);
}

#hero .fleche {
    display: block;
    margin: 0 auto;
    margin-top: 300px;
}
/*Design de la section 1 Batman au cinéma et ses styles*/
.personnage {
    display: flex;
    justify-content: space-between;
    margin-left: 30px ;
    margin-right: 100px;
}
/* Carte des personnages*/
.card{
    border: 1px solid #000;
    overflow: hidden;
}

.card img {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover img {
    transform: scale(1.1);
  }

.paraph {
    margin-left: 30px ;
    margin-right: 150px;
}

.paraph p {
    font-family: 'SpaceGR';
    font-size: 23px;
    text-align: justify;
    width: 90%;
}

.soust {
    font-family: 'SpaceGR';
    font-size: 22px;
    text-align: center;
}

/*Design de la section 2  Les enemis de Batman et ses styles*/
.personnage2 {
    display: flex;
    justify-content: space-between;
     margin-left: 30px ;
    margin-right: 100px;
}
/*Design de la section 3 Alliés et ses styles*/
.personnage3 {
    display: flex;
    justify-content: space-between;
     margin-left: 30px ;
    margin-right: 100px;
}

#allies .paraph h1 {
    display: inline;
    padding-right: 700px;
}

#allies .paraph img {
    display: inline-block;
   
}

/*Design de la section 4 justice league et ses styles*/
.justicel {
    padding-top: 100px;
}
.justicel .paraph {
    padding-left: 75px;
    width: 95%;
}

.justicel img{
    width: 100%;
}

/*Design de la section 5 Multimedia et ses styles*/
/* Buttons */
button {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); /* Couleur du fond en dégradé */
    opacity: 0.4; /* Opacité initiale */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 1; /* Opacité au survol */
  }

#multimedia button {
    position: relative; 
    top: 200px;
    background-color: transparent;
    border: none;
}

#multimedia button.right {
    right: -95%;

}

#multimedia .resumeg {
    display: flex;
    height: 80%;
    width: 60%;
    margin: 40px auto;
    padding-left: 60px;
}

#multimedia .batmanb img {
    height: 100%;
    z-index: 50;
}

#multimedia .batmand {
    margin-left: 100px;
    padding: 20px;
    background-color: #1c4055fa ;
    width: 600px;
    z-index: 10;
    /*border radius*/
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.batmand .type {
    font-size: 30px;
    font-weight: 200;
}

.batmand .title {
    font-family: 'SpaceGR';
    font-size: 30px;
    font-weight: 100;
}
.batmand span {
    color: #f8f184;
}

#multimedia .trailer {
    width: 60%;
    margin: 40px auto;
}

/*Design de la formulaire et ses styles*/
#formulaire {
    background-color: #19587d57;
    padding: 20px 50px;
}

#formulaire .form {
    width: 50%;
    margin: 0 auto;
}

#formulaire h1 {
    text-align: center ;

}

#formulaire .titre2 {
    display: block;
    margin: 20px 0;
}

#formulaire .form input[type='email'], textarea {
    display: block;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    border-bottom: 1px solid white ;
    padding-bottom: 5px;
}

#formulaire .carre {
    text-decoration: none;
    margin:20px 0;}

#formulaire div.coche {
    margin:20px 0;
}

#formulaire .icon img {
    transform: rotate(90deg);
    width: 15px;
}

#formulaire .icon {
padding-left: 100px;
}

#formulaire p.news {
    border-bottom:1px solid white ;
    margin:20px 0;
}

::placeholder {
    color: #445864;
}

.btn-group {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.form input[type='radio'] {
    opacity: 0;
}

.btn-group label {
    cursor: pointer;
    border: 1px solid;
    border-color: #445864;
    border-image: linear-gradient( 
        69deg, white , #06265b
    ) 1;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 100;
}

input[type='submit']{
    width: 200px;
    margin: 25px auto;
    display: block;
    padding: 15px 0;
    cursor: pointer;
   
}

input[type='submit']:hover {
    background-image: linear-gradient(
        60deg, #67758e , #5e241e
    );
    }

#citations {
    margin: 90px;
}

#citations .citation {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#citations .citation-a p {
    font-size: 15px;
    padding-top: 15px;
}

#citations .guillemet2 img {
  float: left;
  padding-left: 1300px;
}
/*Design du footer*/
footer{
    margin-top:100px;
}

footer .text-footer{
    text-align: center ;
    font-size: 14px;
}

footer .logosocial {
    text-align: center;
    margin: 40px;
}

footer .social-item {
    padding: 15px;
}

/* Social Icons */
.logosocial .social-item a img:hover {
  filter: hue-rotate(60deg);
  color: #ffff00;
  opacity: 0.6; /* Opacité initiale */
  cursor: pointer;
}